{{ block "index" . }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title></title>
      <link href="/css/style.css" rel="stylesheet" />
      <script
        src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"
      ></script>
    </head>
    <body>
      {{ template "form" .FormData }}
      <hr />
      {{ template "display" .Data }}
      <script>
        document.body.addEventListener("htmx:beforeSwap", function (evt) {
          if (evt.detail.xhr.status === 404) {
            // alert the user when a 404 occurs (maybe use a nicer mechanism than alert())
            alert("Error: Could Not Find Resource");
          } else if (evt.detail.xhr.status === 422) {
            // allow 422 responses to swap as we are using this as a signal that
            // a form was submitted with bad data and want to rerender with the
            // errors
            //
            // set isError to false to avoid error logging in console
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
          } else if (evt.detail.xhr.status === 418) {
            // if the response code 418 (I'm a teapot) is returned, retarget the
            // content of the response to the element with the id `teapot`
            evt.detail.shouldSwap = true;
            evt.detail.target = htmx.find("#teapot");
          }
        });
      </script>
    </body>
  </html>
{{ end }}

{{ block "form" . }}
  <!-- TODO: change hx-target -->
  <form hx-swap="outerHTML" hx-post="/contacts">
    name:
    <input
      type="text"
      name="name"
      {{ if .Values.name }}value="{{ .Values.name }}"{{ end }}
    />

    <br />

    email:
    <input
      type="text"
      name="email"
      {{ if .Values.email }}value="{{ .Values.email }}"{{ end }}
    />

    {{ if .Errors.email }}
      <div style="color: red">
        {{ .Errors.email }}
      </div>
    {{ end }}


    <button type="submit">Create Contact</button>
  </form>
{{ end }}

{{ block "display" . }}
  <div id="contacts" style="display: flex; flex-direction: column">
    {{ range .Contacts }}
      {{ template "contact" . }}
    {{ end }}
  </div>
{{ end }}

{{ block "contact" . }}
  <div class="contact" id="contact-{{ .Id }}" style="display: flex">
    <div
      hx-indicator="#ci-{{ .Id }}"
      hx-target="#contact-{{ .Id }}"
      hx-swap="outerHTML swap:500ms"
      hx-delete="/contacts/{{ .Id }}"
      style="width: 1rem; cursor: pointer"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M 10 2 L 9 3 L 4 3 L 4 5 L 5 5 L 5 20 C 5 20.522222 5.1913289 21.05461 5.5683594 21.431641 C 5.9453899 21.808671 6.4777778 22 7 22 L 17 22 C 17.522222 22 18.05461 21.808671 18.431641 21.431641 C 18.808671 21.05461 19 20.522222 19 20 L 19 5 L 20 5 L 20 3 L 15 3 L 14 2 L 10 2 z M 7 5 L 17 5 L 17 20 L 7 20 L 7 5 z M 9 7 L 9 18 L 11 18 L 11 7 L 9 7 z M 13 7 L 13 18 L 15 18 L 15 7 L 13 7 z"
        ></path>
      </svg>
    </div>
    Name: <span> {{ .Name }}</span> Email: <span> {{ .Email }}</span>

    <div id="ci-{{ .Id }}" class="htmx-indicator">
      <img src="/images/bars.svg" alt="loading" style="width: 1rem" />
    </div>
  </div>
  <br />
{{ end }}

{{ block "oob-contact" . }}
  <div id="contacts" hx-swap-oob="afterbegin">
    {{ template "contact" . }}
  </div>
{{ end }}
